<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Place</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/stylesheets/custom.css">
    </head>
    <body>
